ion-content {

ion-list{
    background-color: #B6E2A1;
    ion-item{
        --detail-icon-color: #FFFFFF;   /* color del '>' */
        --detail-icon-opacity: 1;     /* opacity por defecto suele ser 0.2 */
        --detail-icon-font-size: 1.2rem;
        --background: #2F5233;
        color: #FFFFFF;
        margin-top: 2vh;
        ion-label{
            font-size: 1.2rem;
            p{
                font-size: 0.8rem;
                margin-top: 1px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 90%;
            }
        }
    }
    /* ion-item:first-of-type{
        margin-top: 0;
    } */
     /* ion-header{
        ion-toolbar{
            ion-button{
                border-radius: 10px;
            }
        }
     } */
}
}
