ion-item{
    --background: #B6E2A1;
    div{
        max-width: 70%;
        padding: 10px 4px 10px 10px;
        margin: 3px 0 3px 0;
        font-weight: 500;
        color: #fff;
        border-radius: 12px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.6);
        ion-note{
            opacity: 0.6;
            color: #fff;
            font-size: 0.8rem;
            position: relative;
            top: 3px;
            ion-icon{
                position: relative;
                top: 3px;
                left: 2px;
            }
        }
    }
}
.otherUser{
    .container{
        background-color: #575757;;
        &::after{
            content: "";
            position: absolute;
            bottom: -8px;
            left: -4px;
            border-bottom: 9px solid #575757;
            height: 30px;
            width: 15px;
            transform: rotate(290deg);
            border-radius: 0 20px 0;
        }
    }
}
.currentUser{
    .container{
        background-color: var(--ion-color-primary);
        &::after{
            content: "";
            position: absolute;
            bottom: -8px;
            right: -4px;
            border-bottom: 9px solid var(--ion-color-primary);
            height: 30px;
            width: 15px;
            transform: rotate(70deg);
            border-radius: 20px 0;
        }
    }
}
.sender-name {
  display: block;
  font-size: 0.78rem;      /* más pequeño, como WhatsApp */
  font-weight: 600;
  color: #000000;          /* verde tipo WhatsApp */
  margin-bottom: 3px;      /* espacio debajo */
  padding-left: 2px;       /* se ve más alineado */
}