ion-footer{
    box-shadow: 0px -3px 20px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    ion-button{
        --border-radius: 15px;
    }
    ion-textarea{
        border: 1px solid var(--ion-color-medium);
        border-radius:  16px;
        margin: 0.5vh 0.5vh 0.5vh 0;
        padding-left: 1vh;
        padding-bottom: 0.6vh;
        font-size: 18px;
        max-height: 180px;
        align-content: center;
        overflow-y: auto;
        }
}
ion-header{
    ion-toolbar{
        ion-icon{
            position: relative;
            right: 8px;
            width: 1.7rem;
            color: #ffffff;
        }
        ion-buttons{
            ion-back-button{
                color: #ffffff;
            }
        }
    }
}
ion-content{
    ion-list{
        background-color: #B6E2A1;
    }
}
ion-footer{
    ion-toolbar{
        ion-item{
            --background: #dbdbdb;
            ion-textarea{
                color:black;
            }
        }
    }
}
.checkbox-vertical {
  display: flex;
  flex-direction: column;
  align-items: center; /* centra checkbox y texto */
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: black
}