ion-list{
    background-color: #B6E2A1;
    ion-item{
        --background: #B6E2A1;
        margin-top: 2vh;
        ion-label{
            font-size: 1.2rem;
            color: black;
        }
    }
}